@charset "utf-8";
/* 새글 스킨 (latest) */

.notice {padding-top: 20px;}
.notice a {padding:5px 0; display: flex; font-size: 1.8rem; justify-content: space-between; align-items: flex-end;}
.notice a .ttl {width:calc(100% - 80px); padding-right:10px; overflow: hidden; word-wrap: break-word; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.notice a .date {font-size: 1.4rem; display: inline-block; width:80px;}

.empty_li {font-size: 1.8rem; color:#ddd;}
