@charset "utf-8";

/* 아웃로그인 스킨 */
#ol_before h2 {padding-left:10px; font-size:2rem;}
#ol_before h2 span {margin-left:2px; font-size: 1.6rem; opacity: 0.6;}
#ol_before fieldset {padding-top:10px;}
#ol_before .ol_wr {}
#ol_before .input_txt {padding:0 15px; height:50px; margin-bottom: 10px; width:100%; border-radius: 10px; border: 1px solid #ddd;}
#ol_before #ol_submit {width:100%; height: 50px; border-radius: 10px; background-color: var(--main-color); color:#fff; font-size: 1.8rem; font-weight: 600; text-align: center;}

#ol_before .ol_auto_wr {padding:10px 10px 0; display: flex; justify-content: space-between;}
#ol_before .ol_auto_wr div {display: flex; font-size: 1.4rem; gap:5px;}